<footer class="site-footer" id="contact">
    <div class="container site-footer__content">
        <div class="row g-4">
            <div class="col-lg-4">
                <a href="#" class="site-footer__brand">PC Store</a>
                <p class="site-footer__description">@ViewBag.StoreDescription</p>
                <div class="site-footer__social">
                    <a href="#"><img src="~/images/social-facebook.svg" alt="Facebook" width="24" height="24"></a>
                    <a href="#"><img src="~/images/social-instagram.svg" alt="Instagram" width="24" height="24"></a>
                    <a href="#"><img src="~/images/social-youtube.svg" alt="YouTube" width="24" height="24"></a>
                </div>
            </div>

            <div class="col-6 col-lg-2">
                <h6 class="site-footer__title">Danh mục</h6>
                <ul class="site-footer__links">
                    <li><a href="#">CPU</a></li>
                    <li><a href="#">VGA</a></li>
                    <li><a href="#">RAM</a></li>
                    <li><a href="#">SSD</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2">
                <h6 class="site-footer__title">Hỗ trợ khách hàng</h6>
                <ul class="site-footer__links">
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Đổi trả sản phẩm</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h6 class="site-footer__title">Thông tin liên hệ</h6>
                <ul class="site-footer__contact">
                    <li>
                        <img src="~/images/footer-email.svg" alt="Email" width="20" height="20">
                        <span>pcstore@gmail.com</span>
                    </li>
                    <li>
                        <img src="~/images/footer-phone.svg" alt="Phone" width="20" height="20">
                        <span>0123 456 789</span>
                    </li>
                    <li>
                        <img src="~/images/footer-location.svg" alt="Location" width="20" height="20">
                        <span>TP. Hồ Chí Minh</span>
                    </li>
                    <li>
                        <img src="~/images/footer-clock.svg" alt="Clock" width="20" height="20">
                        <span>08:00 - 22:00</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="site-footer__bottom">
            <span>© @DateTime.Now.Year PC Store. All rights reserved.</span>
            <div class="d-flex gap-3">
                <a href="#">Điều khoản</a>
                <a href="#">Bảo mật</a>
            </div>
        </div>
    </div>
</footer>

<!-- Nút cuộn lên đầu trang - đã có sẵn CSS .home-scroll-top trong site.css -->
<button type="button" class="home-scroll-top" id="scrollTopBtn" aria-label="Cuộn lên đầu trang">
    <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 15l-6-6-6 6"/>
    </svg>
</button>

<script>
    (function () {
        var btn = document.getElementById('scrollTopBtn');
        window.addEventListener('scroll', function () {
            if (window.scrollY > 400) {
                btn.classList.add('is-visible');
            } else {
                btn.classList.remove('is-visible');
            }
        });
        btn.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    })();
</script>
