<nav class="navbar navbar-expand bg-warning">
    <div class="container">
        <ul class="navbar-nav flex-row flex-nowrap overflow-auto gap-1">
            <li class="nav-item"><a class="nav-link" href="/Home/Index"><i class="fa-solid fa-house me-1"></i> Trang chủ</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-grip me-1"></i> Tất cả</a></li>
            <li class="nav-item"><a class="nav-link" href="#">CPU</a></li>
            <li class="nav-item"><a class="nav-link" href="#">VGA</a></li>
            <li class="nav-item"><a class="nav-link" href="#">RAM</a></li>
            <li class="nav-item"><a class="nav-link" href="#">SSD</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Màn hình</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bàn phím</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Chuột</a></li>
        </ul>
    </div>
</nav>
