@model IEnumerable<ECommerceWeb.Models.Product>

<div class="container py-5">

    <h2 class="fw-bold mb-1">
        Kết quả tìm kiếm
    </h2>

    <p class="text-muted mb-4">

        Từ khóa:
        <strong>@ViewBag.Keyword</strong>

    </p>

    @if (!Model.Any())
    {
        <div class="alert alert-warning">

            Không tìm thấy sản phẩm.

        </div>
    }
    else
    {
        <div class="row g-4">

            @foreach (var item in Model)
            {
                <partial name="_ProductCard" model="item" />
            }

        </div>
    }

</div>